body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #2a2b2a;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #f9f9f9;
    color: #333;
}

body.dark-mode {
    background-color: #2a2b2a;
    color: #fff;
}

header {
    background-color: #ff69b4;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-gif {
    max-width: 100px;
    margin-right: 20px;
}

.theme-switcher {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    top: auto;
    right: 20px;
    margin: 0;
}

.theme-switcher:hover {
    background-color: #ff4069;
}

h1, h2, h3 {
    color: #ff69b4;
}


ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#terms-bar {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

#terms-bar a {
    text-decoration: none;
    color: #333333;
}

.support-section {
    text-align: center;
    width: 100%;
    flex: 1;
}

.support-description {
    font-size: 16px;
}

.join-link {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #4b6cc1; /* same color as header for consistency */
    text-decoration: none;
}

.topgg-section {
    text-align: center;
    width: 100%;
    flex: 1;
}

.topgg-image {
    width: 200px;
}

@media screen and (max-width: 768px) {
    #support-and-topgg {
        flex-direction: column;
    }
}

.theme-switcher {
    position: absolute;
    top: 10px;
    right: 20px;
}

.theme-switcher label {
    color: #fff;
}
