/* Body and global styling */
body {
    margin: 0;
    color: #fff;
    background-color: #2a2b2a;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    color: #333;
    background-color: #f9f9f9;
}

/* Heading and list styles */
h1, h2, h3 {
    color: #ff69b4;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

/* Header styling */
.header {
    color: #fff;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4a90e2;
}

.header h1 {
    text-align: center;
    margin: 0;
}

.header-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header-logo {
    width: auto;
    max-width: 15%;
    height: 100px;
    margin-right: 20px;
}

.theme-button {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #ff69b4;
    transition: background-color 0.3s;
}

.theme-button:hover {
    background-color: #ff4069;
}

/* Main Sections and General Styling */
.section {
    padding: 0 20px;
}

.sections,
.left-right-sections,
#support-and-topgg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-right-sections {
    flex-wrap: wrap;
}

#terms {
    text-align: center;
    margin: 20px auto;
    max-width: 80%;
}

/* Patreon section styling */
.patreon-section {
    padding: 20px;
    background-color: #4a90e2;
}

.patreon-section a,
.patreon-image {
    color: #ff69b4;
    margin-top: 10px;
    display: block;
    width: 20%;
}

/* Support and TopGG section styling */
.support-topgg-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.widget-frame {
    height: 500px;
    max-width: 100%;
}

.support-section,
.topgg-section {
    width: 45%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.topgg-image {
    height: auto;
    max-width: 100%;
}

/* Footer and Subpages Bar */
.footer,
#subpages-bar {
    padding: 0;
    text-align: center;
}

.footer {
    background-color: #2c3e50;
    margin: 0;
}

#subpages-bar {
    background-color: #f2f2f2;
    margin: 0;
    padding: 10px 0;
}

.footer a,
#subpages-bar a {
    color: #333333;
    text-decoration: none;
    margin: 0 10px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .left-right-sections,
    #support-and-topgg {
        flex-direction: column;
    }

    .header-content {
        flex-direction: column;
    }

    .support-section,
    .topgg-section {
        width: 100%;
    }
}
